* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e2e2df;
    color: #383838;
    overflow-x: hidden;
}

// ----------------- navbar ----------------- 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5px 2%;
    background-color: #929292;

    .fa-calendar-alt {

    }

    .date {
        font-family: 'Roboto Slab', serif;
        font-size: 3rem;
        font-weight: 900;
        padding-left: 2%;
    }

    .van-count {
        display: flex;
        flex-direction: row;
        padding-right: 2%;


        .fa-shuttle-van {
            margin: 0 0 0 -55%;
        }

        .number {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: 2.8rem;
            position: absolute;
            padding-left: 2.5rem;
        }
    }
}

// ----------------- form ----------------- 
form {
    margin: 2.4rem auto 0 auto;
    background-color: #ececeb;
    height: 97vh;
    width: 65vw;
    border-radius: 7px;
    position: relative;

// ----------------- waves ----------------- 
    .waves {
        font-family: 'Outfit', sans-serif;
        display: flex;
        justify-content: center;
        padding-top: 5%;

        a {
            text-decoration: none;
            color: #383838;
        }
    }

    .fa-circle {
        padding: 5px 5px 0 5px;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5% 10% 0 0;
    }


    .assinging {

        .drivers {
            font-family: 'Outfit', sans-serif;
            text-decoration: underline;

        }

        .text-area-driver {
            border: none;
            border-radius: 5px;
            height: 20px;
            width: 11rem;
            margin-top: 1rem;

            .text-area-drive:-webkit-autofill {
                border: 3px solid blue;
                }
                .text-area-drive:autofill {
                border: 3px solid blue;
                }
        }
    }

    .vans { 

        .van-number {
            font-family: 'Outfit', sans-serif;
            text-decoration: underline;
        }

        .text-area-van {
            border: none;
            border-radius: 5px;
            height: 20px;
            width: 11rem;
            margin-top: 1rem;
        }
    }

    .cx { 

        .cx-number {
            font-family: 'Outfit', sans-serif;
            text-decoration: underline;

        }

        .text-area-cx {
            border: none;
            border-radius: 5px;
            height: 20px;
            width: 11rem;
            margin-top: 1rem;
        }
    }
    
}

// ----------------- notes section ----------------- 
.notes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 6%;
    margin-top: -49%;

    .notes {
        font-family: 'Outfit', sans-serif;
        display: flex;
        padding-right: 6%;
        font-weight: 900;
        color: rgb(191, 127, 216);
    }

    .notes-input {
        border: none;
        border-radius: 6px;
        height: 20px;
        width: 12rem;
        margin-top: .5%;
    }
}

// ----------------- add button ----------------- 
.add-driver {
    margin: -2% 0 0 85%;

    button {
        border: none;
        text-decoration: none;
        color: #60a752;
        cursor: pointer;
        z-index: 1000;
    }
}

// ----------------- delete button ----------------- 
.delete{
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: #e27171;
}