$white: #fff;
$very-light-gray: #e2e2df;
$very-very-light-gray: #ececeb;
$medium-gray: #929292;
$dark-gray: #383838;
$lighter-td: #f8f8f8;
$darker-td: #ccc;
$light-red: #f3b3b3;
$red: #fd0002;
$green: #60a752;
$purple: #bf7fd8;